#blog-explore {

    .card:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .card:not(:first-of-type) {
        margin-top: 25px;
    }


    .blog-card {
        width: 30%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        //padding: 25px;
        //border-radius: 15px;
        //border: 1px inset rgba(0, 0, 0, 0.1);
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-start;
        //align-items: center;
        //width: 300px;
        //margin-right: 25px;
        //background-color: white;
    }

    .text-truncate {
        max-width: 250px;
    }

    .top3-blogs {
        overflow-x: auto;
        padding: 25px 0;
    }

}
