<section id="blog-explore">
    <h1 class="mb-4 mt-2">Explore {{filterCategoryName}}</h1>
    <div class="mb-4 controls d-flex justify-content-center align-items-center w-100">
        <mat-form-field appearance="outline" class="w-100" style="color: black">
            <mat-label>Search</mat-label>
            <input matInput type="text" [formControl]="search" placeholder="Search Blogs...">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button (click)="clearSearch()" class="ml-2 mb-4">Clear Search</button>
    </div>


    <div *ngIf="blogs?.length">
        <div *ngFor="let blog of blogs" [routerLink]="['/blog', blog?.slug]" class="card p-4">
            <div>
                <h2>{{blog.title | titlecase}}</h2>
                <small> <b>{{blog.author?.name | titlecase}}</b></small>
                <p class="text-truncated">{{blog.description}}</p>
            </div>
        </div>
        <mat-paginator
                [pageSize]="25"
                [pageIndex]="currentPage -1"
                [length]="totalItems"
                (page)="pageChangeEvent($event)">
        </mat-paginator>
    </div>

    <div *ngIf="!blogs?.length">
        <div *ngFor="let category of categories">
            <div class="mb-4">
                <h2>{{category.category}}</h2>
                <hr/>
                <div class="d-flex justify-content-start top3-blogs">
                    <mat-card *ngFor="let blog of category?.blog_top3?.items" class="mr-auto ml-auto blog-card">
                        <mat-card-header class="d-flex justify-content-center align-items-center text-center w-100 overflow-hidden">
                            <mat-card-title class="text-truncate">{{blog?.title | titlecase}}</mat-card-title>
                            <mat-card-subtitle>{{blog?.author_name | titlecase}}</mat-card-subtitle>
                        </mat-card-header>
                        <img *ngIf="blog?.banner" mat-card-image [src]="blog?.banner?.url + '?tpl=med'" style="height: 200px">
                        <mat-card-content class="d-flex justify-content-center align-items-center mt-auto">
                            <p class="text-center text-truncate">
                               {{blog?.description | uppercase}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions class="d-flex justify-content-center">
                            <button mat-stroked-button color="primary" [routerLink]="['/blog', blog?.slug]">
                                Read More
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div *ngIf="category?.blog_top3?.items?.length else noBlogs"
                     class="d-flex align-items-center justify-content-center mt-4">
                    <button (click)="filterByCategory(category)" mat-stroked-button>
                        View All {{category?.category}}
                    </button>
                </div>

                <ng-template #noBlogs>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mt-4">No blogs yet</div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>



