::ng-deep .ql-editor {

    border-radius: 5px !important;
    background-color: white !important;
    color: black;
}

.image-upload-box {
    background-color: #1C1C1C;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
