<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{config.title}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        {{config.summary}}
    </div>

    <div class="panel-content">
        <form [formGroup]="blogForm" class="d-flex flex-column" autocomplete="off">

            <div class="mb-4">
                <ng-container *ngIf="blogForm.controls.banner.value">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="flex-fill">
                            <img [src]="image?.url ?  image.url : image" />
                        </div>
                        {{blogForm.controls.banner.value?.name}}
                        <button mat-button color="warn" (click)="deleteImage()"><mat-icon>delete</mat-icon></button>
                    </div>

                </ng-container>
                <ng-container *ngIf="!blogForm.controls.banner.value">
                    <ng-container *ngIf="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!uploading">
                        <div class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box"
                             (click)="fileUpload.click()">
                            <div>
                                <button mat-stroked-button type="button">
                                    <mat-icon>publish</mat-icon>
                                </button>
                            </div>
                            <div>
                                <h2>Upload Banner Image</h2>
                            </div>
                            <input #fileUpload type="file" hidden (change)="upload($event)" accept="image/*">
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <div class="d-flex flex-column flex-lg-row">
                <mat-form-field appearance="outline" class="mr-lg-4 flex-fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" type="text"/>
                    <mat-error *ngIf="blogForm.controls.title.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Slug</mat-label>
                    <input matInput formControlName="slug" type="text"/>
                    <mat-error *ngIf="blogForm.controls.slug.hasError('required')">
                        Slug is required
                    </mat-error>
                    <mat-hint align="end">
                        Url for your blog
                    </mat-hint>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" type="text"/>
                <mat-error *ngIf="blogForm.controls.description.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>

            <mat-label class="mb-2">Content</mat-label>
            <div class="mb-5 mt-2" style="background-color: white; color: black; height: 150px">
                <quill-editor [modules]="modules" formControlName="content" >
                >
                </quill-editor>
                <mat-error *ngIf="blogForm.controls.content.touched && blogForm.controls.content.hasError('required')"
                    class="pt-2"
                >
                    <b>Your blog should have some content!</b>
                </mat-error>
            </div>

            <mat-form-field appearance="outline" class="mt-4">
                <mat-label>Tags</mat-label>
                <mat-chip-list #tagList>
                    <mat-chip *ngFor="let tag of tags"
                              [removable]="true" (removed)="removeTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+ Tag"
                           [matChipInputFor]="tagList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="true"
                           (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mt-2">
                <mat-label>Categories</mat-label>
                <mat-chip-list #categoryList>
                    <mat-chip
                            *ngFor="let category of categories"
                            [removable]="true"
                            (removed)="removeCategory(category.category)">
                        {{category['category']}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                            placeholder="+ Category"
                            #categoryInput
                            [formControl]="categoryControl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="categoryList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addCategory($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCategory($event)">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                        {{category['category']}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-label class="mb-2">Publish</mat-label>
            <div>
                <mat-button-toggle-group name="Publish" formControlName="published">
                    <mat-button-toggle [value]="true">Yes</mat-button-toggle>
                    <mat-button-toggle [value]="false">No</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

        </form>
    </div>

    <div class="panel-footer">
        <button mat-flat-button color="warn" class="mr-auto" (click)="delete()" *ngIf="data?.blog"><mat-icon>delete</mat-icon></button>
        <button (click)="submit()" color="primary" mat-flat-button>Submit</button>
    </div>
</section>

