<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{config.title}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        {{config.summary}}
    </div>

    <div class="panel-info">
        <h2>Instructions</h2>
        <p>
            In order to test this app, you will need to have a Xano account, install this marketplace extension within
            your
            workspace, and fill out the following details below.
        </p>

    </div>

    <div class="panel-content">
        <p class="highlight-green">None of these are stored permanently</p>

        <mat-form-field appearance="outline" class="w-100" style="color: white">
            <mat-label>Xano Base URL</mat-label>
            <input (keydown.enter)="submit()" [formControl]="configFormControl" matInput type="text"/>
            <mat-hint align="end">Can be found in your Xano API group</mat-hint>
            <mat-error *ngIf="configFormControl.hasError('required')">URL is required</mat-error>
            <mat-error *ngIf="configFormControl.hasError('pattern')">Please enter a Valid Url</mat-error>
        </mat-form-field>
    </div>

    <div class="panel-footer">
        <button (click)="submit()" color="primary" mat-flat-button>Update Settings</button>
    </div>

</section>

