#blog-view {
    *:not(mat-icon) {
        font-family: sans-serif;
    }
    .blog-content {
        white-space: pre-wrap;
    }

    .banner {
        width: 100%;
        object-fit: cover;
    }

    mat-chip {
        cursor: pointer;
    }
}
