<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex justify-content-end align-items-center">
        <div  *ngIf="!isConfigured else configured"  class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a mat-button *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">
                {{config.editText}}
            </a>
        </div>

        <ng-template #configured>
            <button
                    *ngIf="!isHome &&!isLoggedIn" [routerLink]="['']"
                    class="mr-1"
                    color="primary"
                    mat-stroked-button>
                Explore
            </button>
            <button (click)="showPanel('auth')" *ngIf="!isLoggedIn else loggedInActions" color="primary"
                    mat-flat-button>
                Login / Signup
            </button>
            <ng-template #loggedInActions>
                <h2 class="pt-3 mr-auto">{{user?.name}}</h2>
                <button *ngIf="isHome"
                        [routerLink]="['profile']"
                        class="mr-1"
                        color="primary"
                        mat-stroked-button>
                    My Blogs
                </button>
                <button
                        *ngIf="!isHome" [routerLink]="['']"
                        class="mr-1"
                        color="primary"
                        mat-stroked-button>
                    Explore
                </button>
                <button (click)="showPanel('manage')" class="mr-1" color="accent" mat-stroked-button>
                    <mat-icon>add</mat-icon>
                    Blog
                </button>
                <button (click)="logout()" mat-stroked-button>
                    <mat-icon>subdirectory_arrow_left</mat-icon>
                    Logout
                </button>
            </ng-template>
        </ng-template>
    </div>
    <hr class="mt-4 mb-4"/>
</section>

