<section id="blog-comments">
    <div class="d-flex flex-column pt-4 pb-4">
        <h2>Comments</h2>
        <div class="w-100">
            <mat-form-field class="w-100" appearance="outline">
                <textarea matInput [formControl]="commentInput" id="comment" placeholder="Post a comment..."
                          rows="3"></textarea>
            </mat-form-field>
            <button (click)="postComment()" mat-flat-button color="primary" class="mt-2 float-right">Submit</button>
        </div>

        <mat-card *ngFor="let comment of comments" class="mt-4 comment">
            <div class="d-flex w-100">
                <b>{{comment.user?.name ? comment.user?.name : 'Anonymous'}}</b>
                <small class="ml-auto">{{comment.created_at | date: 'short'}}</small>
                <button mat-flat-button color="warn" (click)="deleteComment(comment)" *ngIf="allowDelete(comment)" class="ml-4">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
            <div class="mt-2">{{comment.comment}}</div>
        </mat-card>
    </div>

</section>
